/* ----- Formato general ----- */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Fragment Mono", monospace;
  background-image: linear-gradient(80deg, #2a1b3c, #d93f87, #8265a7, #a4b3b6);
  color: #2a1b3c;
}

#content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: center;
  margin-top: 4.3rem;
  margin-bottom: 4.3rem;
}

#blobSvg {
  z-index: -5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ----- Eventos ----- */

.events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.35);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 60%;
  min-width: 350px;
  margin: 0 auto;
  padding: 1rem 1rem 5rem;
}

td {
  font-size: 0.7rem;
  padding: 0.2rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

td:hover {
font-weight: 800;
}

/* ----- Calendario ----- */

.calendar {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 48rem;
  max-width: 800px;
  margin: 1em auto;
  padding: 1rem;
  z-index: 5;
}

.calendar__info {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 800;
  font-size: 2rem;
  padding-bottom: 0.2rem;
}

.calendar__prev,
.calendar__next {
  color: #f1ffd3;
  cursor: pointer;
  font-size: 150%;
  transition: 0.5s;
}

.calendar__prev:hover,
.calendar__next:hover {
  filter: drop-shadow(0 0 0.75rem crimson);
  transition: 0.5s;
}

.calendar__prev {
  margin-right: auto;
}
.calendar__next {
  margin-left: auto;
}

.calendar__week,
.calendar__dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 2px;
  overflow: hidden;
}
.calendar__month,
.calendar__year {
  padding: 0em 0.2em;
  text-align: center;
}

.calendar__item {
  text-align: center;
  line-height: 2;
}
.calendar__date {
  background-color: rgba(243, 235, 238, 0.3);
  border-radius: 4px;
  text-align: left;
  padding: 0.3rem;
  height: 6rem;
  transition: 0.7s;
}

.calendar__date:hover{
  font-weight: 800;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.6s;
}

.calendar__last-days {
  opacity: 0.3;
  filter: blur(1px);
}

hr{
  border: 1px double rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}